<section id="all_discounts">
  <% @merchant.bulk_discounts.each do |discount| %>
    <section id="discount-<%= discount.id %>">
      <p>Discount: <%= link_to "#{discount.name}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %></p>
      <li><%= "Percentage: #{discount.percentage}% | Minimum Items: #{discount.threshold}"  %></li>
      <%= button_to "Delete #{discount.name}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %>
    </section>
  <% end %>

  <%= link_to "Add New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %>
</section> 