<h1><%= @discount.name %></h1>

<section id="details" >
  <li><%= "Name: #{@discount.name}" %></li>
  <li><%= "Percentage: #{@discount.percentage}%" %></li>
  <li><%= "Threshold: #{@discount.threshold} Items" %></li>
</section>

<section id="edit">
  <%= button_to "Edit #{@discount.name}", "/merchants/#{params[:merchant_id]}/bulk_discounts/#{@discount.id}/edit", method: :get %>
</section> 
